.custom-input input{
    padding-block: calc(var(--spacing) * 3);
    padding: calc(var(--spacing) * 2);
    border-color: var(--color-purple-400);
    border-style: var(--tw-border-style);
  border-width: 1px;
  border-radius: var(--radius-md);
}

.custom-input input:focus{
    &:focus {
    --tw-outline-style: none;
    outline-style: none;
  }
  &:focus {
    border-style: var(--tw-border-style);
    border-width: 2px;
  }
  &:focus {
    --tw-outline-style: none;
    outline-style: none;
  }
  &:focus {
    border-color: var(--color-indigo-500);
  }
  &:focus {
    background-color: var(--color-gray-900);
  }
}

.PhoneInputCountry {
  border: 1px solid var(--color-purple-400);
  border-radius: 5px;
  padding: 1px 5.5px;
  background: black;
}

/* The actual <select> element */
.PhoneInputCountrySelect {
  cursor: pointer;
  padding: 6px;
  border: none;
  background: transparent;
  font-size: 14px;
}

/* Flag icon container */
.PhoneInputCountryIcon {
  margin-right: 5px;
}

/* Flag image */

/* Dropdown <select> */
.PhoneInputCountrySelect {
  background-color: #111;  /* dark background */
  color: #f7fafc;            /* text color */
}

/* Optional: arrow color */
.PhoneInputCountrySelectArrow {
  border-top-color: #f7fafc;
}

/* Optional: hover on dropdown items */
.PhoneInputCountrySelect option:hover {
  background-color: #222;
  color: #222;
}